.gallery {
    scroll-snap-type: x mandatory;
    display: flex;
    flex-flow: column wrap;
    overflow: scroll hidden;
    scroll-behavior: smooth;
    height: 300px;
    div {
        height: 300px;
        width: 100%;
        scroll-snap-align: start;
        padding: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
        }
    }
}