.home{
    display: flex;
    flex-flow: row wrap;
}

.peek{
    order: 1;
    flex-basis: 100%;
    display: unset;
    max-width: 100%;
}

.intro, .character{
    order: 0;
    flex-basis: 50%;
    flex: 1;
    min-width: 300px;
    max-width: 100%;
    padding: .5em;
}


.contact{
    order: 6;
}

.character{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    .profile{
        height: auto;
        float: unset
    }
}