.portfolio{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    .item{
        margin: 1em;
        flex: 1;
        flex-basis: 300px;

        h2{
            text-align: center;
        }

        .content{
            .image{
                width: 33%;
                float: right;
            }
        }
    }
    .item:nth-child(2n+1) .image{
        float: left;
    }
}