.services{
    display: flex;
    flex-flow: row wrap;

    .service{
        display: flex;
        flex-flow: column nowrap;
        margin: 1em;
        flex-basis: 200px;
        flex: 1;
        border: 1px solid #ccc;
        border-radius: .25em;
        padding:  .5em;
        position: relative;

        a{
            margin-top: auto;
        }
    }
}