.header-image {
    background-image: url(./.header-image);
    background-size: cover;
}

.profile {
    max-height: 200px;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
    float: right
}
