---
layout: page
---

{{ content }}
<div class="portfolio">

    {% for item in site.data.portfolio %}
    <div class="item">
        <h2>{{item.title}}</h2>

        <div class="content">
            <div class="image">
                <img src="{{site.data.technologies[item.tech].icon}}" alt="{{site.data.technologies[item.tech].label}}">
            </div>
            <div class="text">
                {%for paragraph in item.description%}
                <p>{{paragraph}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor%}
</div>

</div>